
      .send-btn{
        background-color: rgb(25,135,84);
        color: white;
        padding: 12px 20px;
        margin-left: 10px;
        border: none;
        border-radius: 10px;
        font-size: 15px;
        cursor: pointer;
      }

      .chat-input{
        padding: 10px 15px;
        border-radius: 10px;
        border-width: 1px;
        font-size: 15px;
        flex-grow: 1;
      }

      .chat-input-cont{
          display: flex;
          margin-bottom: 60px;
         
      }
      .app-cont{
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        height: 100vh;
        display: flex;
        flex-direction: column;
      }
      .chat-msg-user{
        display: flex;
        justify-content: end;
        align-items: start;
      }

      .chat-msg-robot{
        display: flex;
        align-items: start;
      }
      .chat-msg-text{
        background-color: rgb(238, 238, 238);
        padding: 15px 20px;
        border-radius: 10px;
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 20px;
        max-width: 300px;

      }

      .chat-img{
        width: 45px;
      }
      
      .chat-msg-cont{
        flex-grow: 1;
        margin-top: 20px;
        overflow: scroll;
        scrollbar-width: none;
        
      }

      .welcome-cont{
       
  
        text-align: center;
        padding: auto;
        height: 100vh;
      }
      .welcome-cont h1{
        margin-top: 300px;
      }
      .loading-spinner{
        height: 40px;
        margin: -15px;
      }
      .user-img{
        height: 45px;
        border-radius: 45px;
        object-fit: cover;
      }
      .chat-time{
        margin: 5px 0 0 0;
        font-size: 14px;
        opacity: 0.7;
      }